img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: 50% 70%;
    /* cover- Hình ảnh giữ nguyên tỷ lệ co và lấp đầy kích thước đã cho. Hình ảnh sẽ được cắt bớt để vừa */
}
.menu1 {
    display: flex;
    flex-direction: row ;
}
.menu2 {   
    margin-top: 100px;
    margin-left: 100px;
    margin-bottom: 100px;
    padding: 50px 50px 50px 50px;
}
h4{
  
    margin-top: 0;
    margin-left: 20px;
}
.menu2_1{
    display: flex;
    flex-direction: row ;
    
}
.a{
    width: 50px;
    height: 50px;
    object-fit: cover;
    object-position: 50% 50%;
}
.aa{
    width: 40px;
    height: 40px;
    object-fit: cover;
    object-position: 50% 50%;
}
